<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Landis Center App</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>