.admin-insert-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.input-group-prepend .input-group-text {
    width: 200px;
}

.admin-insert-wrapper form {
    width: 600px;
    padding: 20px 30px;
    border-radius: 8px;
    border: 2px solid #ced4da;
}

.admin-insert-wrapper form .button-wrapper {
    width: 100%;
    display:flex;
    justify-content: center;
    padding: 16px;
    align-content: center;
}
