<% include partials/header %>
<% include partials/menu %>

<div class="main-wrapper" style="display: flex; justify-content: center;">
    <form action="/organizations/add" method="post" style="width:40%;">
        <div class="form-group">
            <label for="organization_name">Organization Name:</label>
            <input type="text" class="form-control" id="organization_name" name="organization_name" placeholder="Organization Name">
        </div>
        <div class="form-group">
          <label for="organization_type">Organization Type:</label>
          <input type="text" class="form-control" id="type" name="organization_type" placeholder="Organization Type">
        </div>
        <button class="btn btn-primary" type="submit">Add Organization</button>
      </form>
</div>