<% include partials/header %>
<% include partials/menu %>

<div class="main-wrapper">
  <div style="display: flex; justify-content: center;">
    <form action="/organizations/search" method="post" style="width:40%;">
      <div class="form-group">
        <label for="name">Organization:</label>
        <input type="text" class="form-control" id="org" name="org" placeholder="Organization Name">
      </div>
      <button class="btn btn-primary" type="submit">Find Organization</button>
    </form>
  </div>
  <div class="card-wrapper" style="text-align: center; width: 40%; margin: auto">
    <% orgs.forEach(organization => { %>
    <div class="card">
      <div class="card-header">
        <%= organization.organization_type %> Organization
      </div>
      <div class="card-body">
        <h6 class="card-title"> <%= organization.organization_name %></h6>
        <div class="card-text">
          <a href="#"" class=" btn btn-primary">Go to Organization</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>