<% include partials/header %>
<% include partials/menu %>

<div class="main-wrapper" style="display: flex; justify-content: center;">
    <form action="/contacts/update" method="post" style="width:40%;">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Contact name">
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Contact email">
        </div>
        <div class="form-group">
            <label for="phone">New Phone:</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
        </div>
        <div class="form-group">
            <label for="secondaryphone">New Secondary Phone (optional):</label>
            <input type="text" class="form-control" id="secondaryphone" name="secondary_phone" placeholder="Secondary Phone">
        </div>
        <div class="form-group">
            <label for="extension">New Extension (optional):</label>
            <input type="text" class="form-control" id="extension" name="extension" placeholder="Extension">
        </div>
        <button class="btn btn-primary" type="submit">Update Contact</button>
      </form>
</div>